---
layout: single
title: "Statistics"
permalink: /stats/
author_profile: true
classes: wide
---


<link rel="stylesheet" href="{{ '/assets/css/custom-pages.css' | relative_url }}">
<script src="{{ '/assets/js/custom-pages.js' | relative_url }}"></script>
<script
  type="text/javascript"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>






<h2>Publiction Statistics</h2>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="pubsPerYear"></canvas>
Publications per year. Only the year of the first (blue) or most recent (red) publication of a paper is counted.

{% assign years = "2019,2020,2021,2022,2023,2024,2025,2026" | split: "," %}

<script>
new Chart(document.getElementById('pubsPerYear'), {
  type: 'bar',
  data: {
    labels: [
      {% for year in years %}
        "{{ year }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],
    datasets: [{
      label: 'First publications',
      data: [
        {% for year in years %}
          {% assign yearcount = 0 %}
          {% for pub in site.data.pubs %}
            {% assign pubyear = pub.first-publication | append: "" %}
            {% if pubyear == year %}
              {% assign yearcount = yearcount | plus: 1 %}
            {% endif %}
          {% endfor %}
          {{ yearcount }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    },{
      label: 'Last publications',
      data: [
        {% for year in years %}
          {% assign yearcount = 0 %}
          {% for pub in site.data.pubs %}
            {% assign pubyear = pub.release-date | slice: 0, 4 %}
            {% if pubyear == year %}
              {% assign yearcount = yearcount | plus: 1 %}
            {% endif %}
          {% endfor %}
          {{ yearcount }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }]
  }
});
</script>

<canvas id="pubsPerCountry"></canvas>
Number of papers with co-authors affiliated in a given country. In red, only the number of papers is counted. In blue, papers are counted several times if several co-authors are affiliated in that county.

{% assign countries_raw = "" %}

{% for inst in site.data.institutions %}
  {% assign countries_raw = countries_raw | append: inst.country | append: "||" %}
{% endfor %}

{% assign countries = countries_raw | split: "||" | uniq | sort %}

<script>
new Chart(document.getElementById('pubsPerCountry'), {
  type: 'bar',
  data: {
    labels: [
      {% for country in countries %}
        "{{ country }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],
    datasets: [{
      label: 'People in all papers',
      data: [
        {% for country in countries %}
          {% assign countrycount = 0 %}

          {% for pub in site.data.pubs %}
            {% for aut in pub.authors %}

              {% assign affiliation = nil %}

              {% for c in site.data.coauthors %}
                {% assign cname = c.name[0].first | append: " " | append: c.name[0].last %}
                {% assign aname = aut.first | append: " " | append: aut.last %}

                {% if cname == aname %}
                  {% assign affiliation = c.affiliation %}
                {% endif %}
              {% endfor %}

              {% if affiliation %}
                {% for inst in site.data.institutions %}
                  {% if inst.code == affiliation and inst.country == country %}
                    {% assign countrycount = countrycount | plus: 1 %}
                  {% endif %}
                {% endfor %}
              {% endif %}

            {% endfor %}
          {% endfor %}

          {{ countrycount }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    },{
      label: 'Unique Papers',
      data: [
        {% for country in countries %}
          {% assign countrycount = 0 %}

          {% for pub in site.data.pubs %}

            {% assign has_country = false %}

            {% for aut in pub.authors %}

              {% assign affiliation = nil %}

              {% for c in site.data.coauthors %}
                {% assign cname = c.name[0].first | append: " " | append: c.name[0].last %}
                {% assign aname = aut.first | append: " " | append: aut.last %}

                {% if cname == aname %}
                  {% assign affiliation = c.affiliation %}
                {% endif %}
              {% endfor %}

              {% if affiliation %}
                {% for inst in site.data.institutions %}
                  {% if inst.code == affiliation and inst.country == country %}
                    {% assign has_country = true %}
                  {% endif %}
                {% endfor %}
              {% endif %}

            {% endfor %}

            {% if has_country %}
              {% assign countrycount = countrycount | plus: 1 %}
            {% endif %}

          {% endfor %}

          {{ countrycount }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }]
  }
});
</script>



<h2>Collaboration Statistics</h2>

{% assign names = "" %}

{% for c in site.data.pubs %}
  {% for a in c.authors %}
    {% assign names = names | append: a.first | append: " " | append: a.last | append: "||" %}
  {% endfor %}
{% endfor %}

Number of unique coauthors: {{ names | split: "||" | uniq | size | minus: 1 }}

<br>

Most common team in papers with 2 co-authors: [compute; return all if multiple; return also number of papers]

<br>

Most common team in papers with 3 co-authors: [compute]

<br>

Most common team in papers with 4 co-authors: [compute]

<br>

Most common team in papers with 5 co-authors: [compute]

<br>

<canvas id="numAuthors"></canvas>
Number of papers with number certain numbers of co-authors.

{% assign numAuthors = "1,2,3,4,5" | split: "," %}

<script>
new Chart(document.getElementById('numAuthors'), {
  type: 'bar',
  data: {
    labels: [
      {% for num in numAuthors %}
        {{ num }},
      {% endfor %}
      ">= 6"
    ],
    datasets: [{
      label: 'Publications',
      data: [
        {% for num in numAuthors %}
          {% assign numcount = 0 %}
          {% for pub in site.data.pubs %}
            {% assign pubsize = pub.authors | size | append: "" %}
            {% if pubsize == num %}
              {% assign numcount = numcount | plus: 1 %}
            {% endif %}
          {% endfor %}
          {{ numcount }},
        {% endfor %}
        {% assign numcount = 0 %}
        {% for pub in site.data.pubs %}
          {% assign pubsize = pub.authors | size %}
          {% if pubsize >= 6 %}
            {% assign numcount = numcount | plus: 1 %}
          {% endif %}
        {% endfor %}
        {{ numcount }}
      ]
    }]
  }
});
</script>





<h2>Fun statistics</h2>

{% assign titles = "" %}

{% for pub in site.data.pubs %}
  {% assign len = pub.title | size %}
  {% assign padded = len | prepend: "000" | slice: -4, 4 %}

  {% assign titles = titles
     | append: padded
     | append: "||"
     | append: pub.title
     | append: ";;" %}
{% endfor %}

{% assign sorted = titles | split: ";;" | sort %}
{% assign sorted2 = sorted %}

Three longest titles by characters:

{% for e in sorted reversed limit:3 %}
  {{ e }} <br />
{% endfor %}

<br>

Three shortest titles by characters:

{% for e in sorted2 limit:3 %}
  {{ e }} <br />
{% endfor %}

<br>

{% assign total = 0 %}

{% for pub in site.data.pubs %}
  {{ pub.title | size }} <br />
  {% assign total = total | plus: (pub.title | size) %}
{% endfor %}

Average title length by characters: {{ total | divided_by: site.data.pubs.size }}

<br>

{% assign total = 0 %}

{% for pub in site.data.pubs %}
  {% assign total = total | plus: (pub.abstract | size) %}
{% endfor %}

Average abstract length by characters: {{ total | divided_by: site.data.pubs.size }}

<br>

Five most frequent words in Titles (ignoring common words such as: and, the, ...): [compute; return words with frquency]

<br>

Five most frequent first words in Titles (including common words such as: and, the, ...): [compute; return words with frquency]
