---
layout: single
title: "Publications"
permalink: /publications/conferences
author_profile: true
classes: wide
---


<link rel="stylesheet" href="{{ '/assets/css/custom-pages.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/topicButtons.css' | relative_url }}">
<script src="{{ '/assets/js/custom-pages.js' | relative_url }}"></script>
<script
  type="text/javascript"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>




<p>Below you can find my publications sorted by conferences, with links and toggleable abstracts.
<br />Also journal publications are listed that beforehand were published at a certain conference.
<br />This list is sorted by conferences. For sorting by journal or date click here.</p>

<a href="/publications/journals" class="topic-button">Sort by journal</a>
<a href="/publications" class="topic-button">Sort by date</a>


{% assign conferences = site.data.pubs %}
{% assign conferences = conferences | where_exp: "p", "p.conference" %}
{% assign pubnum = conferences | size %}

{% assign conferences = site.data.conferences %}
{% for conf in conferences %}
  {% assign all_pubs = site.data.pubs %}

  {%- comment -%}
  Filter by topic
  {%- endcomment -%}
  {% assign conference_pubs = all_pubs | where_exp: "p", "p.conference == conf.abbr" %}
  {% assign conference_length = conference_pubs | size %}

  {% if conference_length != 0 %}
    <div class="year-label"><span>{{ conf.name }} ({{ conf.abbr }})</span></div>
  {% endif %}

  {%- comment -%}
  Sort by conference name
  {%- endcomment -%}
  {% assign normal_pubs = conference_pubs | sort: "conference-year" | reverse %}

  {% for pub in normal_pubs %}
    {% include pub_entry.html pub=pub pubnum=pubnum %}
    {% assign pubnum = pubnum | minus: 1 %}
  {% endfor %}

{% endfor %}

