---
layout: single
title: "FW Publications"
permalink: /publications/FW
author_profile: true
classes: wide
---


<link rel="stylesheet" href="{{ '/assets/css/custom-pages.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/topicButtons.css' | relative_url }}">
<script src="{{ '/assets/js/custom-pages.js' | relative_url }}"></script>
<script
  type="text/javascript"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>




<p>Below you can find my publications and preprints on Food Webs, with links and toggleable abstracts.
<br>To filter by a certain topic, click one of the buttons.</p>

<a href="/publications/FPT" class="topic-button">FPT</a>
<a href="/publications/FW" class="topic-button">Food Webs</a>
<a href="/publications/Orientations" class="topic-button">Orienting</a>
<a href="/publications/PD" class="topic-button">Phylogenetic Diversity</a>
<a href="/publications/PN" class="topic-button">Phylogenetic Networks</a>
<a href="/publications/SW" class="topic-button">Scanwidth</a>
<a href="/publications/Implementations" class="topic-button">Implemented Algorithms</a>


{% assign all_pubs = site.data.pubs %}

{%- comment -%}
Filter by topic
{%- endcomment -%}
{% assign topic_pubs = all_pubs | where_exp: "p", "p.topics contains 'Food Webs'" %}

{%- comment -%}
Sort by release-date descending
{%- endcomment -%}
{% assign topic_pubs = topic_pubs | sort: "release-date" | reverse %}

{%- comment -%}
Group by pub.year, assign reverse numbering
{%- endcomment -%}
{% assign total = topic_pubs | size %}
{% assign current_year = "" %}

{% for pub in topic_pubs %}
  {% assign pubnum = total | minus: forloop.index0 %}

  {% if pub.year != current_year %}
    <div class="year-label"><span>{{ pub.year }}</span></div>
    {% assign current_year = pub.year %}
  {% endif %}

  {% include pub_entry.html pub=pub pubnum=pubnum %}
  
{% endfor %}

