---
layout: single
title: "Publications"
permalink: /publications/journals
author_profile: true
classes: wide
---


<link rel="stylesheet" href="{{ '/assets/css/custom-pages.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/topicButtons.css' | relative_url }}">
<script src="{{ '/assets/js/custom-pages.js' | relative_url }}"></script>
<script
  type="text/javascript"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>




<p>Below you can find my publications sorted by journals, with links and toggleable abstracts.
<br>This list is sorted by journals. For sorting by conferences or date click here.</p>

<a href="/publications/conferences" class="topic-button">Sort by conference</a>
<a href="/publications" class="topic-button">Sort by date</a>

{% assign all_pubs = site.data.pubs %}

{%- comment -%}
Filter by topic
{%- endcomment -%}
{% assign journal_pubs = all_pubs | where_exp: "p", "p.type == 'journal'" %}

{%- comment -%}
Sort by journal name
{%- endcomment -%}
{% assign normal_pubs = journal_pubs | sort: "journal" %}

{%- comment -%}
Group by pub.conference, assign reverse numbering
{%- endcomment -%}
{% assign total = normal_pubs | size %}
{% assign current_journal = "" %}

{% for pub in normal_pubs %}
  {% assign pubnum = total | minus: forloop.index0 %}

  {% if pub.journal != current_journal %}
    <div class="year-label"><span>{{ pub.journal }}</span></div>
    {% assign current_journal = pub.journal %}
  {% endif %}

  {% include pub_entry.html pub=pub pubnum=pubnum %}
  
{% endfor %}

